<% if current_user.admin? || (current_user.premium? && wiki.user == current_user) %>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add collaborators on this wiki<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% @users.each do |user| %>
            <% if user != current_user %>
              <li><span><%= user.name %> | <%= link_to "Add", wiki_collaborators_path(wiki_id: @wiki.id, user_id: user.id), method: :post %></span></li>
            <% end %>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if wiki.collaborators.count > 0 %>
  <div class="row">
    <div class="col-md-6">
        <p style="padding-left: 0">
          <strong>Wiki Collaborators:</strong>
        </p>
      <% @users.each do |user| %>
        <% if @wiki.users.include?(user) %>
          <p style="padding-left: 0; line-height: 1">
          <%= user.name %>
          <% if current_user.admin? || (current_user.premium? && wiki.user == current_user) %>
            | <%= link_to "Remove", wiki_collaborator_path(wiki_id: @wiki.id, user_id: user.id), method: :delete %>
          <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
